<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="bg-light">
        <div class="container">
            <div class="row">
                导航栏
            </div>
            <div class="row">
                中间主体部分
            </div>

            <div class="row">
                <div class="col-3">
                    <button class="btn btn-primary">上一曲</button>
                    <button class="btn btn-primary">暂停</button>
                    <button class="btn btn-primary">下一曲</button>
                </div>
                <div class="col-6">
                    <img src="http://static.runoob.com/images/mix/paris.jpg" class="img-fluid" style="max-height: 40px; max-width: 40px">
                    <div>
                        <div>
                            <sapn>title</sapn>
                            <sapn>time</sapn>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</body>
</html>